@model IEnumerable<Handyman>

<div class="cards-list pb-5">
	@foreach(var handyman in Model)
	{
		<div class="card">
			<div class="card_image"> <img src="@handyman.ImageUrl" /> </div>
			<div class="card_title title-white">
				<h3>@handyman.Title</h3>
				<p>@handyman.Name</p>
				<p>@handyman.Price.ToString("c")</p>
				<a asp-action="Details" asp-route-id="@handyman.Id" class="btn btn-outline-primary bg-gradient border-0 form-control w-75">Details</a>
			</div>
		</div>
	}
</div>